.col-lg-9.col-md-12
  %ul.slider
    %li
      = image_tag("banner_slider-1.jpg")
    %li
      = image_tag("banner_slider-2.jpg")
    %li
      = image_tag("banner_slider-3.jpg")

%div{"ng-include" => "'/assets/partials/featured_product.html.haml'"}

%div{"ng-include" => "'/assets/partials/category.html.haml'"}

.col-lg-9.col-md-9.col-sm-12
  .col-lg-12.col-sm-12
    %span.title
      = I18n.t("home.products")
  .products-wrapper{"ng-repeat" => "product in products | filter:search", "ng-include" => "'/assets/products/_product.html.haml'"}