.col-lg-3.col-md-3.col-sm-12
  .no-padding
    %span.title
      = I18n.t("home.categories")
  .list-group.list-categ
    %a.list-group-item{"ng-repeat" => "category in categories"}
      {{category.name}}